<a href="https://colab.research.google.com/github/Ochieng40/BRITAM/blob/main/BRITAM_Data_Audit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [2]:
# Connect to GDrive
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default

creds, _ = default()

gc = gspread.authorize(creds)

## Import BRITAM Data

In [3]:
# CHV Google sheet link
sheet_url = 'https://docs.google.com/spreadsheets/d/1pp1NWao6trnqszJ55EXvI5oQIkwnxDYImOtS85g_GDI/edit#gid=0'

In [4]:
# Read in CHV data from google drive
spreadsheet = gc.open_by_url(sheet_url)

# List all worksheets
spreadsheet.worksheets()

[<Worksheet 'Britam Regions ' id:1226177549>,
 <Worksheet 'Claim Database' id:109733782>,
 <Worksheet 'Britam Outcome' id:453183433>,
 <Worksheet 'QC' id:2042219390>,
 <Worksheet 'Claim Data' id:289568147>,
 <Worksheet 'Outcome Indicator Outcome' id:266898122>,
 <Worksheet 'Final  feedback' id:2003645140>,
 <Worksheet 'KMFL' id:875767946>,
 <Worksheet 'Sample Data' id:593894702>,
 <Worksheet 'Proposed Indicators ' id:2062797799>,
 <Worksheet 'KHIS Official Names' id:2144467371>,
 <Worksheet 'Feedback Round1' id:518783794>,
 <Worksheet 'Round2 Feedback' id:75704305>,
 <Worksheet 'Britam Feedback ' id:1405593289>]

In [5]:
# Access worksheet
Britam_regions = spreadsheet.worksheet('Britam Regions ')
Claim_database = spreadsheet.worksheet('Claim Database')
Britam_outcome = spreadsheet.worksheet('Britam Outcome')

In [6]:
Britam_regions = pd.DataFrame(
    Britam_regions.get_all_records(expected_headers=['Number', 'Health Facility', 'MFL Code', 'KHIS Official Names'])
)

Claim_database = pd.DataFrame(
    Claim_database.get_all_records(
        expected_headers=[
            'PAYEE_NAME', 'EVENT_DATE', 'PATIENT_CARDNO', 'BIRTH_DATE',
            'DIAG GROUP NAME', 'DIAGNOSIS_CODE', 'DIAGNOSIS_NAME',
            'INVOICE_ID', 'CONFIRMED_AMOUNT', 'COVER_TYPE', 'Facility Code'
        ]
    )
)


Britam_outcome = pd.DataFrame(
    Britam_outcome.get_all_records(
        expected_headers=[
            'Hospital name', 'Client date of birth', 'Please indicate number of days admitted',
            'Indicate mode of delivery', 'Please indicate the neonatal birth outcome',
            'Please indicate if induction of labor was done', 'Please indicate the duration of labor',
            'Please indicate if Episiotomy was done', 'Please indicate if there was perenial tears',
            'Please indicate the reason Caesarean Section was done',
            'Was there a Delivery/ Post Partum complication',
            'Indicate the Delivery and/or Post Partum Complication', 'Facility Code'
        ]
    )
)

In [7]:
Britam_regions.head(3)

,Number,Health Facility,MFL Code,KHIS Official Names,PAYEE_NAME,,Facility Name,Facility code,Bristol Park Hospital,24587
0,1,Dr Wachira Health Services Ltd,10154,Vineyard Hospital,Bristol Park Hospital,,Bristol Park Hospital,24587,Dr Wachira Health Services Ltd,10154
1,2,Bristol Park Hospital Fedha,24587,Bristol Park Hospital Fedha,Dr Wachira Health Services Ltd,,Dr Wachira Health Services Ltd,10154,Jacaranda Health Ltd,20403
2,3,Juja Road Hospital Ruiru,30404,Juja Road Hospital,Equity Afia Limited,,Equity Afia Limited,26257,Juja Road Hospital,30404

In [8]:
Claim_database.head(2)

,PAYEE_NAME,EVENT_DATE,PATIENT_CARDNO,BIRTH_DATE,DIAG GROUP NAME,DIAGNOSIS_CODE,DIAGNOSIS_NAME,INVOICE_ID,CONFIRMED_AMOUNT,COVER_TYPE,Facility Code
0,Juja Road Hospital,14-Apr-24,31404809-01,20-Jul-96,"Pregnancy, childbirth and the puerperium",O80,Single spontaneous delivery,SC/45387/24,20000,IP-MAT,30404
1,Mary Help of the Sick Hospital,20-Mar-24,11400004227049-00,18-Dec-96,"Pregnancy, childbirth and the puerperium",O82.1,Delivery by emergency caesarean section,MHH.2445160,27179,IP-MAT,10698

## Data Manipulation

In [9]:
Britam_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Number                 32 non-null     int64
 1   Health Facility        32 non-null     object
 2   MFL Code               32 non-null     int64
 3   KHIS Official Names    32 non-null     object
 4   PAYEE_NAME             32 non-null     object
 5                          32 non-null     object
 6   Facility Name          32 non-null     object
 7   Facility code          32 non-null     object
 8   Bristol Park Hospital  32 non-null     object
 9   24587                  32 non-null     object
dtypes: int64(2), object(8)
memory usage: 2.6+ KB

In [10]:
Claim_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PAYEE_NAME        211 non-null    object
 1   EVENT_DATE        211 non-null    object
 2   PATIENT_CARDNO    211 non-null    object
 3   BIRTH_DATE        211 non-null    object
 4   DIAG GROUP NAME   211 non-null    object
 5   DIAGNOSIS_CODE    211 non-null    object
 6   DIAGNOSIS_NAME    211 non-null    object
 7   INVOICE_ID        211 non-null    object
 8   CONFIRMED_AMOUNT  211 non-null    int64
 9   COVER_TYPE        211 non-null    object
 10  Facility Code     211 non-null    int64
dtypes: int64(2), object(9)
memory usage: 18.3+ KB

In [11]:
Britam_outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Hospital name                                          26 non-null     object
 1   Client date of birth                                   26 non-null     object
 2   Please indicate number of days admitted                26 non-null     object
 3   Indicate mode of delivery                              26 non-null     object
 4   Please indicate the neonatal birth outcome             26 non-null     object
 5   Please indicate if induction of labor was done         26 non-null     object
 6   Please indicate the duration of labor                  26 non-null     object
 7   Please indicate if Episiotomy was done                 26 non-null     object
 8   Please indicate if there was perenial tears            26 non-null     object
 9   Please indicate the reason Caesarean Section was done  26 non-null     object
 10  Was there a Delivery/ Post Partum complication         26 non-null     object
 11  Indicate the Delivery and/or Post Partum Complication  26 non-null     object
 12  Facility Code                                          26 non-null     int64
dtypes: int64(1), object(12)
memory usage: 2.8+ KB

In [12]:
df = Claim_database

In [13]:

# Calculate the length of each value in the 'PATIENT_CARDNO' column
df['PATIENT_CARDNO_LENGTH'] = df['PATIENT_CARDNO'].astype(str).apply(len)

# Calculate the average length
average_length = df['PATIENT_CARDNO_LENGTH'].mean()

# Calculate the median length
median_length = df['PATIENT_CARDNO_LENGTH'].median()

# Calculate the 90th percentile
percentile_90 = np.percentile(df['PATIENT_CARDNO_LENGTH'], 90)

# Identify outliers
# Assuming outliers are those beyond 1.5 * IQR (Interquartile Range) from the 1st and 3rd quartiles
Q1 = df['PATIENT_CARDNO_LENGTH'].quantile(0.25)
Q3 = df['PATIENT_CARDNO_LENGTH'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['PATIENT_CARDNO_LENGTH'] < Q1 - 1.5 * IQR) | (df['PATIENT_CARDNO_LENGTH'] > Q3 + 1.5 * IQR)]

# Display results
print("Average Length:", average_length)
print("Median Length:", median_length)
print("90th Percentile Length:", percentile_90)
print("Outliers:\n", outliers[['PATIENT_CARDNO', 'PATIENT_CARDNO_LENGTH']])

Average Length: 13.199052132701421
Median Length: 11.0
90th Percentile Length: 17.0
Outliers:
 Empty DataFrame
Columns: [PATIENT_CARDNO, PATIENT_CARDNO_LENGTH]
Index: []

In [14]:
# Count entries with length greater than 15
count_greater_than_15 = (df['PATIENT_CARDNO_LENGTH'] >= 17).sum()

print("Number of entries with length greater than 15:", count_greater_than_15)

Number of entries with length greater than 15: 73

In [15]:
# Calculate the percentage of entries with length greater than 15
percentage_greater_than_15 = (count_greater_than_15 / len(df)) * 100

print(f"Percentage of entries with length greater than 15: {percentage_greater_than_15:.2f}%")

Percentage of entries with length greater than 15: 34.60%

In [17]:

# Calculate the length of each value in the 'PATIENT_CARDNO' column
df['PATIENT_CARDNO_LENGTH'] = df['PATIENT_CARDNO'].astype(str).apply(len)

# Calculate statistical parameters
average_length = df['PATIENT_CARDNO_LENGTH'].mean()
median_length = df['PATIENT_CARDNO_LENGTH'].median()
percentile_75 = np.percentile(df['PATIENT_CARDNO_LENGTH'], 75)

# You might choose the 90th percentile as a normal length threshold
normal_length_threshold = percentile_75

# Identify outliers using the 1.5 * IQR method
Q1 = df['PATIENT_CARDNO_LENGTH'].quantile(0.25)
Q3 = df['PATIENT_CARDNO_LENGTH'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['PATIENT_CARDNO_LENGTH'] < Q1 - 1.5 * IQR) | (df['PATIENT_CARDNO_LENGTH'] > Q3 + 1.5 * IQR)]
exceed_normal_length = df[df['PATIENT_CARDNO_LENGTH'] > normal_length_threshold]

# Calculate metrics
total_entries = len(df)
num_outliers = len(outliers)
percentage_outliers = (num_outliers / total_entries) * 100
num_exceed_normal = len(exceed_normal_length)
percentage_exceed_normal = (num_exceed_normal / total_entries) * 100

# Create a table to display results
table = [
    ["Total Entries", total_entries],
    ["Outliers", num_outliers],
    ["Percentage of Outliers (%)", f"{percentage_outliers:.2f}%"],
    ["Entries Exceeding 75th Percentile Length", num_exceed_normal],
    ["Percentage Exceeding 75th Percentile Length (%)", f"{percentage_exceed_normal:.2f}%"]
]

# Print the table
print(tabulate(table, headers=["Metric", "Value"], tablefmt="pipe"))

| Metric                                          | Value   |
|:------------------------------------------------|:--------|
| Total Entries                                   | 211     |
| Outliers                                        | 0       |
| Percentage of Outliers (%)                      | 0.00%   |
| Entries Exceeding 75th Percentile Length        | 0       |
| Percentage Exceeding 75th Percentile Length (%) | 0.00%   |

In [18]:
print(df.columns)

Index(['PAYEE_NAME', 'EVENT_DATE', 'PATIENT_CARDNO', 'BIRTH_DATE',
       'DIAG GROUP NAME', 'DIAGNOSIS_CODE', 'DIAGNOSIS_NAME', 'INVOICE_ID',
       'CONFIRMED_AMOUNT', 'COVER_TYPE', 'Facility Code',
       'PATIENT_CARDNO_LENGTH'],
      dtype='object')

In [19]:

# Calculate the length of each value in the 'PATIENT_CARDNO' and 'Facility Code' columns
df['PATIENT_CARDNO_LENGTH'] = df['PATIENT_CARDNO'].astype(str).apply(len)
df['FACILITY_CODE_LENGTH'] = df['Facility Code'].astype(str).apply(len)

# Define thresholds and calculate metrics for both columns
def calculate_metrics(df, length_column, original_column):
    average_length = df[length_column].mean()
    median_length = df[length_column].median()
    percentile_75 = np.percentile(df[length_column], 75)

    # Define normal length threshold as the 75th percentile
    normal_length_threshold = percentile_75

    # Identify outliers using the 1.5 * IQR method
    Q1 = df[length_column].quantile(0.25)
    Q3 = df[length_column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[length_column] < Q1 - 1.5 * IQR) | (df[length_column] > Q3 + 1.5 * IQR)]
    exceed_normal_length = df[df[length_column] > normal_length_threshold]

    total_entries = len(df)
    num_outliers = len(outliers)
    percentage_outliers = (num_outliers / total_entries) * 100
    num_exceed_normal = len(exceed_normal_length)
    percentage_exceed_normal = (num_exceed_normal / total_entries) * 100
    blank_values = df[original_column].isna().sum()

    return [total_entries, num_outliers, f"{percentage_outliers:.2f}%", num_exceed_normal, f"{percentage_exceed_normal:.2f}%", blank_values, f"{average_length:.2f}", f"{median_length:.2f}"]

# Generate metrics for both columns
patient_cardno_metrics = calculate_metrics(df, 'PATIENT_CARDNO_LENGTH', 'PATIENT_CARDNO')
facility_code_metrics = calculate_metrics(df, 'FACILITY_CODE_LENGTH', 'Facility Code')

# Convert to DataFrame for tabulation
metrics_df = pd.DataFrame({
    "Metric": [
        "Total Entries", "Outliers", "Percentage of Outliers",
        "Entries Exceeding 75th Percentile", "Percentage Exceeding 75th Percentile",
        "Blank Values", "Average Length", "Median Length"
    ],
    "Patient Card No": patient_cardno_metrics,
    "Facility Code": facility_code_metrics
})

# Styling the DataFrame using Pandas' Styler
styled_df = metrics_df.style.set_table_styles(
    [{
        'selector': 'th',
        'props': [('font-family', 'Cambria'), ('border-style', 'solid'), ('border-width', '1px'), ('background-color', '#60A5FA')]
    }, {
        'selector': 'td',
        'props': [('font-family', 'Cambria'), ('border-style', 'solid'), ('border-width', '1px')]
    }]
).format("{:}")

# Displaying the styled DataFrame in a Jupyter Notebook
styled_df

When analyzing data quality we looked at the length of values in columns such as 'PATIENT_CARDNO' and 'Facility Code', the metrics derived offer a detailed view of data distribution from a textual or string-based perspective. Metrics like the average and median lengths provide insights into the central tendencies of data entry sizes, revealing how verbose or concise the typical entries are. The average length can be influenced by unusually long or short entries, while the median offers a midpoint that's less susceptible to extreme values, showing a more typical entry length.

Outliers and entries exceeding the 75th percentile are particularly revealing in this context. Outliers determined by the 1.5 * IQR method highlight entries that deviate significantly from the normal range, which could indicate data entry errors, anomalies, or simply longer than usual content. Tracking entries that exceed the 75th percentile helps identify a significant amount of data that is lengthier than typical entries.

In [20]:

# Calculate the median and average value of 'CONFIRMED_AMOUNT'
median_amount = df['CONFIRMED_AMOUNT'].median()
average_amount = df['CONFIRMED_AMOUNT'].mean()

# Calculate the 75th percentile of 'CONFIRMED_AMOUNT'
percentile_75_amount = np.percentile(df['CONFIRMED_AMOUNT'].dropna(), 75)

# Determine the number and percentage of entries that exceed the 75th percentile
entries_exceeding_75 = df[df['CONFIRMED_AMOUNT'] > percentile_75_amount]
number_exceeding_75 = len(entries_exceeding_75)
percentage_exceeding_75 = (number_exceeding_75 / len(df)) * 100

# Identify outliers using the IQR method
Q1 = df['CONFIRMED_AMOUNT'].quantile(0.25)
Q3 = df['CONFIRMED_AMOUNT'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['CONFIRMED_AMOUNT'] < Q1 - 1.5 * IQR) | (df['CONFIRMED_AMOUNT'] > Q3 + 1.5 * IQR)]
number_of_outliers = len(outliers)
percentage_of_outliers = (number_of_outliers / len(df)) * 100

# Count total entries and number of blank values
total_entries = len(df)
blank_values = df['CONFIRMED_AMOUNT'].isna().sum()


# Collecting all metrics in a dictionary for easier DataFrame creation
data = {
    "Audit Metric": [
        "Total Entries",
        "Blank Values",
        "Median Amount",
        "Average Amount",
        "75th Percentile Amount",
        "Number Exceeding 75th Percentile",
        "Percentage of values Exceeding 75th Percentile",
        "Number of Outliers",
        "Percentage of Outliers"
    ],
    "Confirmed Amount": [
        total_entries,
        blank_values,
        f"{median_amount:.2f}",
        f"{average_amount:.2f}",
        f"{percentile_75_amount:.2f}",
        number_exceeding_75,
        f"{percentage_exceeding_75:.2f}%",
        number_of_outliers,
        f"{percentage_of_outliers:.2f}%"

    ]
}

# Creating the DataFrame
df_results = pd.DataFrame(data)

# Styling the DataFrame using Pandas' Styler
styled_df = df_results.style.set_table_styles(
    [{
        'selector': 'th',
        'props': [('font-family', 'Cambria'), ('border-style', 'solid'), ('border-width', '1px')]
    }, {
        'selector': 'td',
        'props': [('font-family', 'Cambria'), ('border-style', 'solid'), ('border-width', '1px')]
    }]
)

# Displaying the styled DataFrame in a Jupyter Notebook
styled_df

## Push to Git Hub

In [21]:
# Configuring Git and GitHub in Colab
!git config --global user.email "ochieng40denis@gmail.com"
!git config --global user.name "Ochieng40"

In [99]:
# Cloning the Repository
!git clone https://github.com/Ochieng40/Britam.git

Cloning into 'Britam'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), done.

In [103]:
!ls "/content/drive/My Drive"

'Attendance sheet-2023.gdoc'
 CHV_Data_Quailty_Check.gsheet
'C_Mombasa Quality Assessment Data Collection Training .pptx'
'Colab Notebooks'
'Copy of HCW_Enrollments_20231122.gsheet'
'Copy of Presentation_ Setting of SMART KPIs_ 20240707.gslides'
'Copy of  Programs_Health Care worker  facilitated transition_20231117.gsheet'
 data_for_use.gsheet
 Data_Retrieval.R
'Dec 7, 2023 | DHIS Data.gdoc'
'Denis Ochieng_Project_Plan.xlsx'
"Denis Ochieng's Promotion Justification_20240522.gdoc"
"Denis'_Work_Tracker_2024.gsheet"
'DnA_Individual KPIs_2024_Denis_2.gsheet'
'DnA_Individual KPIs_2024_Denis.gsheet'
 engagement_calcs.gsheet
 General_Files
 Indicator_Unique_Codes.R
'Jun 11, 2024 | Financial Data Check in.gdoc'
 KHIS_Retrieval.Rproj
 Kisii_Data_Collection_Prep.gdoc
'Kisii Dissemination Attendance List .pdf'
'Makueni RBF Priority Facilities_20240516.gsheet'
'Mar 14, 2024 | FQAs check-in.gdoc'
 Master_List_Facilities_Ochieng.gsheet
'May 2, 2024 | FQAs check-in.gdoc'
'May 28, 2024 | DnA Team Catch Up_Minutes.gdoc'
'Meeting Agenda_Anneka_2024_01_24:.gdoc'
'Meeting Agenda_Anneka_2024_02_28:.gdoc'
 Mental_Health_Chatbot
'Mombasa Quality Assessment Data Collection Training .pptx'
 Notes_Data_Alignment.gdoc
 outcome_Analysis_Data.gsheet
 pandas_df_to_redshift.cpython-310.pyc
 Passwords.gdoc
 path
 powerbi-users.gsheet
 Projects
 Prompts_Coordinator_Application

In [104]:
!ls "/content/drive/My Drive/My Folder"

ls: cannot access '/content/drive/My Drive/My Folder': No such file or directory

In [ ]:
py_file_location = "/content/gdrive/Shareddrives/B. Jacaranda Health (Unrestricted Files)/B - Programs /RD&E/Data & Analytics/3. DnA Projects/Data Processes Cleanup 2024/Data Audit"